%table{:width => "100%"}
  %tr
    %th{:colspan => 7} January
    %th{:colspan => 7} February
    %th{:colspan => 7} March
    %th{:colspan => 7} April
  %tr
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
  %tr
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
  %tr
    %th{:colspan => 7} May
    %th{:colspan => 7} June
    %th{:colspan => 7} July
    %th{:colspan => 7} August
  %tr
    %td 
      %a{:href => "/"}= 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
  %tr
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
    %td 11
    %td 12
    %td 13
    %td 14
    %td 15
    %td 16
    %td 17
  %tr
    %th{:colspan => 7} September
    %th{:colspan => 7} October
    %th{:colspan => 7} November
    %th{:colspan => 7} December    
%ul
- @entries.each do |entry|
  %li= entry.day.strftime("%m/%d/%Y") + " " + entry.content